@media(max-width: 860px){

.logo_paz img{
  width: 130px;
  height:79px
}

.paz{
  margin-top: 20px;
  height:400px;
  width:570px;
  background-image:url(../img/img_counter.jpg);
  background-size:cover;
}
  .paz h2{
    font-size: 27px;
    color:#ffff;
    font-weight: bold;
    padding-top: 200px;
    display:none;

  }
  .paz h3{
    font-size:19px;
    margin-top: 420px;
  }

  .cake{
    margin-top:550px
  }

  .bananapound img{
    height:134px;
    width:179px;
    top: 700px;
    left: 150px;
    display:none;
  }

  .counter img{
    height:190px;
    width:179px;
    top:580px;
    left:150px;
    display:none;
  }
  
  .cake h2{
    font-size:25px;
  }

  .cake h3{
    font-size:18px;
  }
 
  
  .content{
    width: 570px;
    height:438px;
    display:flex;
    flex-direction:column;
    background-color: red;
    text-align: center;

  }
  .cake_item1 img{
    height: 315px;
    width: 420px;
  }
  .cake_item2 img{
    height: 216px;
    width: 289px;
  }
  .cake_item3 img{
    display:none;
  
  }
  .access{
    display:none;
  }

  .slope{
    display:none;
  }
 
  .sofa img{
    display:none;
  }
  .terace img{
    display:none;
  }

  .table img{
    display:none;
  }

  .interior{
    display:none;
  }
  .img_slope{
   display:none;
  }
}
