
  body{
    background-color:#F8EACF; 
  }

.logo_paz{
  text-align: center; 
  margin:auto;
}


.paz{
  height:420px;
  width:600px;
  background-image:url(https://github.com/curust/site-sample/blob/main/img_counter.jpg?raw=true);
  background-size:cover;
  margin:auto;
}

 .text_description{  
  width:600px;
  display:inline-block;
  line-height:3;
  text-align: center;
  margin-top:410px;
  font-weight: lighter;
  font-size: 18px;
  
}

.cake h2{
  border-top: 24px solid #00A1AE;
  font-size:24px;
  margin-top: 550px;
  padding-top:30px;
  text-align: center;
}

.cake h3{
 margin-top:0px;
 font-size: 18px;
 display:flex;
 margin:auto;
 font-weight: lighter;
 line-height:3;
 text-align: center;
 padding-bottom:20px;
 width:600px;
}
.content{
  width: 570px;
  display:flex;
  flex-direction:column;
  font-weight: lighter;
  text-align: center;
  margin:auto;

}

.interior {
  margin-top: 30px;
  padding-top: 20px;
  border-top:24px solid #00A1AE;
}
.interior h2{
 text-align: center;
}

.interior_text{
  font-size:18px;
  font-weight:lighter;
  text-align: center;
  line-height:2;
  padding-bottom:20px;
}

.interior_img{
  display: flex;
  justify-content: space-between;
  width:487px;
  padding-left: 40px;
  margin: auto;
  padding-bottom:20px;
}

.table img{
  display: flex;
  margin:auto;
  padding-left:40px;
  padding-bottom: 10px;
  
}

 .sofa img{
  height:318px;
  width:238.5px;
}

.terace img{
  height:318px;
  width:238.5px;
}

.access{
  border-top:24px solid #00A1AE;
}

.access h2{
  text-align: center;
}

.access h3{
  font-size:18px;
  font-weight:lighter;
  text-align: center;
  line-height:2;
  padding-bottom:20px;
}

.access ul{
  display:inline-block;
}
.access li{
 text-align: left;
}

.slope{
  border-top:2px solid #00A1AE;
}

.slope h2{
  text-align:center;
}

.slope h3{
  font-size:18px;
  font-weight:lighter;
  text-align: center;
  line-height:2;
  padding-bottom:20px;
}
  .bananapound img{
    height:134px;
    width:179px;
    top: 700px;
    left: 150px;
    display:none;
  }

  .counter img{
    height:190px;
    width:179px;
    top:580px;
    left:150px;
    display:none;
    margin:auto;
  }

 .img_slope{
  padding-bottom: 10px;
  border-bottom: 24px solid #00A1AE;
  text-align: center;

  }
  
  .cake_item1 img{
    height: 315px;
    width: 420px;
  }
  .cake_item2 img{
    height: 315px;
    width: 420px;
  }
  .cake_item3 img{
    display:none;
  
  }

 
