li{
  list-style: none;
  line-height: 29px;
}

body{
  background-color:#F8EACF; 
}

.logo_paz{
  text-align: center;
  background-color:blue; 
}

.logo_paz img{
  border-bottom:2px solid #444444
}


.paz{
  background-color: aquamarine;
  height: 700px;
  text-align: center;
  margin-top:14px;
}

.text_description {  
  display:inline-block;
  line-height:3;
  background-color:aqua;
  text-align: center;
  margin-top: auto;
}

h2{
  font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W4',sans-serif;
  font-weight:lighter;
  font-size: 25px;
  color:#222222
}

h3{
  font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W4',sans-serif;
  font-weight:lighter;
  font-size: 19px;
  color:#444444
}

.bananapound img{
position:absolute;
left:0;
top:380px;
}

.counter img{ 
  position:absolute;
  right:0;
  top:200px;
}

.cake{
  background-color:aquamarine;
  height: 500px;
  text-align: center;
  border-top:23px solid #00A1AE;
}

.cake h2{
  padding-top: 52px;
}
.content{
  height: 400px;
  width: 1705px;
  margin:0 auto;
  background-color: #00A1AE;
  display: flex;
  justify-content: space-between;
}
.cake img{
  float:left;
  
}

.interior {
  background-color:aquamarine;
  height: 1000px;
  margin-top: 30px;
  border-top:23px solid #00A1AE;
}
.interior_text{
  display:inline-block;
  line-height:3;
  background-color:aqua;
  margin-left: 400px;
}


.interior h2{
  margin-top:  130px;
  margin-left:580px;
}


.sofa img{
  position:absolute;
  left: 1220px;
  top:2280px;
}

.terace img{
  position:absolute;
  left: 1620px;
  top:2280px;
  
}

.table img{
  position:absolute;
  top:2400px;
  left:410px;
}

.access{
  border-top:23px solid #00A1AE;
  background-color:aquamarine;
  height: 600px;
}

.access h2{
  margin-top:120px;
  margin-left:580px;  
}
.access_text{
  display:inline-block;
  line-height:3;
  background-color: aqua;
  margin-left: 400px;
  position:relative
}

.map h2{
  margin-left:1100px;
  background-color: palevioletred;
  margin-top:-390px;
  position:absolute;
}

.slope{
  display:inline-block;
  background-color:red;
  border-top:2px solid #00A1AE;
  text-align: center;
  margin-left:1250px;
  padding-top:100px;
}

.slope_text{
  display:inline-block;
  background-color: aqua;
  line-height: 3;
}

.img_slope{
  position:absolute;
  top:3554px;
  left:340px;
  border-top:2px solid #00A1AE;
  padding-top: 60px;

}


